.mini-button()
{
	&, a
	{
		font-size: 10px;
		font-weight: normal;
		color: #666;
		text-decoration: none !important;
	}
	background: none;
	display: inline-block;
	padding: 1px 2px;
	margin: 0 0.5ex 0 0;
	box-shadow: none;
	transition: 0.1s ease-out background,color,box-shadow;
	&:hover
	{
		background: #eee;
		color: #000;
		box-shadow: 0 0 2px rgba(0,0,0,0.25);
	}
}
.button-container()
{
	display: flex !important;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0;
	> *
	{
		display: block;
		margin: 0;
		padding: 0;
	}
	&,
	> *
	{
		line-height: 10px;
		font-size: 10px;
		font-weight: normal;
		color: #666;
	}
}